#### Load Companies data & Investors invested data

Here we are margin two files one is indian companies finance data file and another is indian big investors portfolio file. 
We are doing this to get the insight about companies and investors prediction regarding the stoc.

In [ ]:
import pandas as pd

company_df = pd.read_excel("fresh_company_data.xlsx")

invest_df = pd.read_excel("invester's portfolio.xlsx", sheet_name="Sheet2")

In [ ]:
invest_df

,Name,stocks,HOLDING VALUE,RUPEE,QTY HELD,MAR24 CHANGE,MAR24 HOLDING
0,Radhakishan Damani's portfolio and holdings,VST Industries Ltd.,2027.6,Cr,5043139,2,0.327
1,Radhakishan Damani's portfolio and holdings,Andhra Paper Ltd.,-,-,-,Below1%,-
2,Radhakishan Damani's portfolio and holdings,Trent Ltd.,-,-,-,Below1%,-
3,Radhakishan Damani's portfolio and holdings,3M India Ltd.,497.5,Cr,166700,0,0.015
4,Radhakishan Damani's portfolio and holdings,Advani Hotels & Resorts (India) Ltd.,32.1,Cr,3860018,0,0.042
...,...,...,...,...,...,...,...
1766,Sunil Talwar's portfolio and holdings,Birla Precision Technologies Ltd.,-,-,-,Below1%,-
1767,Sunil Talwar's portfolio and holdings,Gennex Laboratories Ltd.,-,-,-,Below1%,-
1768,Sunil Talwar's portfolio and holdings,Zenith Steel Pipes & Industries Ltd.,2.1,Cr,2644634,0,0.019
1769,Sunil Talwar's portfolio and holdings,Worldwide Aluminium Ltd.,1.6,K,100,-,0
1770,Kenneth Andrade's portfolio and holdings,Banka Bioloo Ltd.,-,-,-,Below1%,-

In [ ]:
company_df

,S.No.,Name,CMP Rs.,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,Debt Rs.Cr.,P/E,Earnings Yield %,EV / EBITDA,EV Rs.Cr.,PAT 12M Rs.Cr.,Debt / Eq,Prom. Hold. %
0,1.0,Nestle India,2534.40,244355.95,0.68,934.17,25.79,5267.59,9.05,152.52,344.53,76.65,1.82,50.41,243921.63,3188.95,0.10,62.76
1,2.0,Life Insurance,931.00,588857.25,0.43,9444.42,49.10,213344.78,8.32,148.72,0.00,14.53,8.17,12.37,559775.97,40340.96,0.00,96.50
2,3.0,Tips Industries,426.70,5479.95,1.43,25.76,40.53,63.26,21.61,106.57,5.01,43.13,3.28,30.97,5353.77,127.17,0.03,63.86
3,4.0,P & G Hygiene,15963.15,51817.55,0.66,154.37,-6.45,1002.17,13.48,100.63,3.58,69.55,2.09,45.57,51118.71,745.20,0.00,70.64
4,5.0,Waaree Renewab.,2840.90,29587.79,0.01,64.46,158.05,324.19,338.81,83.80,38.72,278.83,0.49,188.97,29563.59,106.12,0.34,74.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,688.0,SPARC,220.90,7168.76,0.00,-99.65,-1081.77,13.86,-89.43,-106.19,14.21,NaN,-5.47,-19.91,6968.29,-363.41,0.04,65.67
736,689.0,Tata Motors-DVR,680.85,34621.43,0.31,1251.40,372.94,7769.67,-26.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.67
737,690.0,Borosil Renew.,503.70,6575.18,0.00,-15.90,-397.69,330.01,34.29,NaN,484.49,NaN,0.25,50.95,6894.57,-13.24,0.52,61.60
738,691.0,Authum Invest,786.70,13361.66,0.00,601.36,1259.14,691.39,458.97,NaN,1629.46,4.96,19.91,5.02,14623.76,2718.50,0.23,74.72
739,692.0,Nexus Select,132.66,20098.03,NaN,106.86,NaN,571.30,NaN,NaN,4145.75,NaN,-0.01,-8120.84,23956.49,-2.95,0.27,43.13

##### Applying Nlp to make sure both files contain companies name in same formatting

In [9]:
import pandas as pd
import re
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords



def clean_text(text):
    # Convert everything to a string, regardless of its original type
    text = str(text)
    
    # Remove "JOHNSON CONTROLS" from the text
    text = text.replace("Ltd.", "")
    
    # Find the index of the first "-" and trim everything after the last space before it
    dash_index = text.find("-")
    if dash_index != -1:
        last_space_before_dash = text.rfind(" ", 0, dash_index)
        text = text[:last_space_before_dash] if last_space_before_dash != -1 else text[:dash_index]
    
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    text = ' '.join([word for word in text.split() if word not in stop_words])
    
    return text


# Apply the cleaning function to the 'Branch' column in both DataFrames
company_df['Name'] = company_df['Name'].apply(clean_text)

invest_df['stocks'] = invest_df['stocks'].apply(clean_text)


invest_df.drop(invest_df.columns[7:], axis=1,inplace=True)
invest_df.head(2)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DHARMENDRA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Name,stocks,HOLDING VALUE,RUPEE,QTY HELD,MAR24 CHANGE,MAR24 HOLDING
0,Radhakishan Damani's portfolio and holdings,VST Industries,2027.6,Cr,5043139,2,0.327
1,Radhakishan Damani's portfolio and holdings,Andhra Paper,-,-,-,Below1%,-

In [10]:
company_df.head(2)

,S.No.,Name,CMP Rs.,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,Debt Rs.Cr.,P/E,Earnings Yield %,EV / EBITDA,EV Rs.Cr.,PAT 12M Rs.Cr.,Debt / Eq,Prom. Hold. %
0,1.0,Nestle India,2534.4,244355.95,0.68,934.17,25.79,5267.59,9.05,152.52,344.53,76.65,1.82,50.41,243921.63,3188.95,0.1,62.76
1,2.0,Life Insurance,931.0,588857.25,0.43,9444.42,49.10,213344.78,8.32,148.72,0.00,14.53,8.17,12.37,559775.97,40340.96,0.0,96.50

In [11]:
company_df.rename(columns={'Name': 'stocks'}, inplace=True)
company_df.head(1)

,S.No.,stocks,CMP Rs.,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,Debt Rs.Cr.,P/E,Earnings Yield %,EV / EBITDA,EV Rs.Cr.,PAT 12M Rs.Cr.,Debt / Eq,Prom. Hold. %
0,1.0,Nestle India,2534.4,244355.95,0.68,934.17,25.79,5267.59,9.05,152.52,344.53,76.65,1.82,50.41,243921.63,3188.95,0.1,62.76

##### Marging both files

In [13]:
invest_df['stocks_name'] = invest_df['stocks'].str.split().apply(lambda x: x[:2])
company_df['stock_Name'] = company_df['stocks'].str.split().apply(lambda x: x[:2])



# Apply matching function to filter rows for merging
merged_df = pd.merge(invest_df, company_df, how='outer')
print(merged_df.columns)

# Select desired columns for the output
output = merged_df[['Name', 'stocks', 'HOLDING VALUE', 'RUPEE', 'QTY HELD ', 'MAR24 CHANGE',
       'MAR24 HOLDING', 'S.No.', 'CMP Rs.',
       'Mar Cap Rs.Cr.', 'Div Yld %', 'NP Qtr Rs.Cr.', 'Qtr Profit Var %',
       'Sales Qtr Rs.Cr.', 'Qtr Sales Var %', 'ROCE %', 'Debt Rs.Cr.', 'P/E',
       'Earnings Yield %', 'EV / EBITDA', 'EV Rs.Cr.', 'PAT 12M Rs.Cr.',
       'Debt / Eq', 'Prom. Hold. %']]

output.to_excel('output.xlsx', index=False)

Index(['Name', 'stocks', 'HOLDING VALUE', 'RUPEE', 'QTY HELD ', 'MAR24 CHANGE',
       'MAR24 HOLDING', 'stocks_name', 'S.No.', 'CMP Rs.', 'Mar Cap Rs.Cr.',
       'Div Yld %', 'NP Qtr Rs.Cr.', 'Qtr Profit Var %', 'Sales Qtr Rs.Cr.',
       'Qtr Sales Var %', 'ROCE %', 'Debt Rs.Cr.', 'P/E', 'Earnings Yield %',
       'EV / EBITDA', 'EV Rs.Cr.', 'PAT 12M Rs.Cr.', 'Debt / Eq',
       'Prom. Hold. %', 'stock_Name'],
      dtype='object')

#### A new file is saved which contain both file's data